{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Libria Admin Dashboard{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                <h4>Welcome to the Admin Dashboard</h4>
                <p>Use the menu on the left to manage books, authors, publishers, categories, and users.</p>
            </div>
        </div>
    </div>
{% endblock %}

